@model IEnumerable<ModelLayer.CreateApModel>

@{
    ViewData["Title"] = "ViewAppoinmentList";
}
<link rel="stylesheet" href="~/css/Regi.css" />

<h1 class="text-center text-primary">Appoinments</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AId)
            </th>
            
            @*<th>
                @Html.DisplayNameFor(model => model.DId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.Pname)*@
            </th>
            <th>
                Doctor
               @* @Html.DisplayNameFor(model => model.Dname)*@
            </th>
            <th width=130px>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th width=150px>
                Visit Start Time
                @*@Html.DisplayNameFor(model => model.Visit_Time)*@
            </th>
            <th width=150px> 
                Visit End Time
                @*@Html.DisplayNameFor(model => model.Visit_End)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AId)
            </td>
           
            @*<td>
                @Html.DisplayFor(modelItem => item.DId)
            </td>*@
            <td>
                 <img src="~/assets/patient-img/@item.Photo" width=40 height=40 border-radius=50%/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
               @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
