@model  IEnumerable<ModelLayer.Doctor>

@{
    ViewData["Title"] = "GetDocListTry";
}
<link rel="stylesheet" href="~/css/doclist.css" />

<style>
    .doclist{
        padding-left:100px;
        padding-right:100px;
        width:420px;
    }
    .view{
        margin-left:130px;
    }
    .Dname{
        color:black;
    }

</style>


<h1 class="text-center text-primary">Our Team</h1>

<p>
    <a class="btn btn-primary view" asp-action="ViewAppoinmentList">View Appoinments</a>
</p>

<div class="doclist">
@foreach (var item in Model) {
    <div class="doc-details">
           <div ><img class="pImg" src="@Url.Content(item.Photo)"/></div>
        <div class="details">
            <div class="dname">
                <h2 class="Dname">@item.Dname</h2>
            </div>
            <div class="degree">
                <span class="Degree"> @item.Degree</span>
            </div>            
       
            <div class="social-icons">
                   <img class="Profile-img-1" src="~/assets/icons/instagram.png"  />
                    <img class="Profile-img-1" src="~/assets/icons/facebook.png"  />
                   <img class="Profile-img-1" src="~/assets/icons/twiter.png"  />
            </div>
            <span class="address">@item.Address</span>
        
            <div class="appoinment-btn">
                <a class="btn btn-primary" href="@Url.Action("GetAppointmentId", "Patients", new { DId = item.DId , Dname=item.Dname})">
                    Take Appoinment
                </a>
            </div>
       </div>        
   </div>
}
</div>