@model IEnumerable<ModelLayer.Doctor>

@{
    ViewData["Title"] = "GetDocList";
}

<h1>GetDocList</h1>

<p>
    <a asp-action="ViewAppoinmentList">View Appoinments</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.DId)
            </td>
            <td>
                <img src="@Url.Content(item.Photo)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @*<a asp-action="GetDocList">
                   <input type="submit" value="Take Appoinment" class="btn btn-primary" />
                </a>*@
                <a class="icon-grp" href="@Url.Action("GetAppointmentId", "Patients", new { DId = item.DId , Dname=item.Dname})">
                    Take Appoinment
                </a>
                
            </td>
        </tr>
}
    </tbody>
</table>
