@model IEnumerable<ModelLayer.Appoinment>

@{
    ViewData["Title"] = "GetAppoinments";
}
<link rel="stylesheet" href="~/css/Regi.css" />

<h1 class="appoinment">Appoinments</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<p>
     @Context.Session.GetInt32("UserId");
</p>
*@
<table class="table">
    <thead class="thead"">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.AId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tr">
            @*<td>
                @Html.DisplayFor(modelItem => item.AId)
            </td>*@
            <td>
                <img src="@Url.Content(item.Photo)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                <a class="icon-grp" href="@Url.Action("Edit", "Admin", new { Aid = item.AId })">
                         <i class="fas fa-pencil-alt"></i>
                </a>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a class="icon-grp delete" href="@Url.Action("Delete", "Delete", new { Aid = item.AId })">
                         <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}       
    </tbody>
   
</table>
