@model IEnumerable<ModelLayer.Appoinment>

@{
    ViewData["Title"] = "GetAppoinments";
}

<h1>GetAppoinments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DId)
            </th>
            >
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dname)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit_End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DId)
            </td>
            <td>
                 <img src="@Url.Content(item.Photo)"/>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dname)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                <a class="icon-grp" href="@Url.Action("Edit", "Admin", new { Aid = item.AId })">
                    <i class="fas fa-pencil"></i>
                </a>
               @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                <a class="icon-grp delete" href="@Url.Action("Delete", "Admin", new { Aid = item.AId })">
                         <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
